<nav role="navigation">
  <ul>
    <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Index</a></li>
    <li><a href="/about" {% if page.url == "/about" %}class="active"{% endif %}>About</a></li>
    <li><a href="/research" {% if page.url == "/research" %}class="active"{% endif %}>Research</a></li>
    <li><a href="/regrowth" {% if page.url == "/regrowth" %}class="active"{% endif %}>REGROWTH</a></li>
    <li><a href="/lehds" {% if page.url == "/regrowth" %}class="active"{% endif %}>LEHDS</a></li>
  </ul>
</nav>
